# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [3]:
cars1 = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv')
cars1
cars2 = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv')
cars2

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,33.0,4,91,53,1795,17.4,76,3,honda civic
1,20.0,6,225,100,3651,17.7,76,1,dodge aspen se
2,18.0,6,250,78,3574,21.0,76,1,ford granada ghia
3,18.5,6,250,110,3645,16.2,76,1,pontiac ventura sj
4,17.5,6,258,95,3193,17.8,76,1,amc pacer d/l
...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
196,44.0,4,97,52,2130,24.6,82,2,vw pickup
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage
198,28.0,4,120,79,2625,18.6,82,1,ford ranger
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [4]:
cars1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           198 non-null    float64
 1   cylinders     198 non-null    int64
 2   displacement  198 non-null    int64
 3   horsepower    198 non-null    object
 4   weight        198 non-null    int64
 5   acceleration  198 non-null    float64
 6   model         198 non-null    int64
 7   origin        198 non-null    int64
 8   car           198 non-null    object
 9   Unnamed: 9    0 non-null      float64
 10  Unnamed: 10   0 non-null      float64
 11  Unnamed: 11   0 non-null      float64
 12  Unnamed: 12   0 non-null      float64
 13  Unnamed: 13   0 non-null      float64
dtypes: float64(7), int64(5), object(2)
memory usage: 21.8+ KB

### Step 5. What is the number of observations in each dataset?

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [7]:
cars = pd.concat([cars1,cars2],axis=0)
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,NaN,NaN,NaN,NaN,NaN
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,NaN,NaN,NaN,NaN,NaN
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,NaN,NaN,NaN,NaN,NaN
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,NaN,NaN,NaN,NaN,NaN
4,17.0,8,302,140,3449,10.5,70,1,ford torino,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,NaN,NaN,NaN,NaN,NaN
196,44.0,4,97,52,2130,24.6,82,2,vw pickup,NaN,NaN,NaN,NaN,NaN
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage,NaN,NaN,NaN,NaN,NaN
198,28.0,4,120,79,2625,18.6,82,1,ford ranger,NaN,NaN,NaN,NaN,NaN
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10,NaN,NaN,NaN,NaN,NaN

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [9]:
x = np.random.randint(15000,73000,size=(len(cars),1))
x

array([[39527],
       [58223],
       [67882],
       [41442],
       [50557],
       [15668],
       [67865],
       [51590],
       [21456],
       [59902],
       [20762],
       [65626],
       [19611],
       [32878],
       [24793],
       [52777],
       [56431],
       [23783],
       [37957],
       [37012],
       [31720],
       [19605],
       [60927],
       [21317],
       [65257],
       [21514],
       [16830],
       [33792],
       [43512],
       [23793],
       [26671],
       [35536],
       [22745],
       [57777],
       [70833],
       [27001],
       [57636],
       [67322],
       [69400],
       [54311],
       [43511],
       [28874],
       [57787],
       [64052],
       [41680],
       [19411],
       [37497],
       [53871],
       [57713],
       [64245],
       [61437],
       [54645],
       [43991],
       [42283],
       [69594],
       [63566],
       [44430],
       [46316],
       [56689],
       [54623],
       [61244],
       [15966],
       [20738],
       [67474],
       [53764],
       [68965],
       [38451],
       [27949],
       [34776],
       [26220],
       [51586],
       [28454],
       [46013],
       [27777],
       [41014],
       [60182],
       [26830],
       [62675],
       [69625],
       [66317],
       [65021],
       [36800],
       [20925],
       [46493],
       [32447],
       [31247],
       [71974],
       [68999],
       [62385],
       [45997],
       [64456],
       [40949],
       [25792],
       [33056],
       [36725],
       [51946],
       [65454],
       [50827],
       [48783],
       [32031],
       [17687],
       [56141],
       [31371],
       [33978],
       [45242],
       [22116],
       [17307],
       [17573],
       [33029],
       [58198],
       [38520],
       [22987],
       [53266],
       [22039],
       [60853],
       [65290],
       [32668],
       [20907],
       [37702],
       [57427],
       [44122],
       [16363],
       [40238],
       [55622],
       [67431],
       [72426],
       [21784],
       [20930],
       [42292],
       [21954],
       [59888],
       [24071],
       [39108],
       [16526],
       [19257],
       [27922],
       [19541],
       [64206],
       [61884],
       [24968],
       [54954],
       [41717],
       [28550],
       [16842],
       [63256],
       [69561],
       [44987],
       [65103],
       [50933],
       [58937],
       [30892],
       [22295],
       [40174],
       [34024],
       [69319],
       [25643],
       [60673],
       [45147],
       [58449],
       [22025],
       [34243],
       [69444],
       [29452],
       [27489],
       [64793],
       [20983],
       [34219],
       [37682],
       [53400],
       [65927],
       [26932],
       [59475],
       [20556],
       [55727],
       [35417],
       [39407],
       [22005],
       [65042],
       [22276],
       [24114],
       [18861],
       [66860],
       [24593],
       [35041],
       [62867],
       [16723],
       [21240],
       [59063],
       [36539],
       [18184],
       [72788],
       [37605],
       [43067],
       [16230],
       [50851],
       [41818],
       [27246],
       [51066],
       [56680],
       [39077],
       [39936],
       [51185],
       [63207],
       [61997],
       [69963],
       [41268],
       [22137],
       [28624],
       [45396],
       [69050],
       [18683],
       [38097],
       [50581],
       [48668],
       [43502],
       [66592],
       [66380],
       [63284],
       [69573],
       [71527],
       [42014],
       [69834],
       [17866],
       [17800],
       [68539],
       [22923],
       [58839],
       [15119],
       [26127],
       [28105],
       [22593],
       [66393],
       [31418],
       [26241],
       [18558],
       [29865],
       [45217],
       [52407],
       [20379],
       [16601],
       [23023],
       [72532],
       [71508],
       [35632],
       [67770],
       [21171],
       [63849],
       [46850],
       [71682],
       [44412],
       [59932],
       [60188],
       [63341],
       [60218],
       [22953],
       [55464],
       [33885],
       [66409],
       [61961],
       [65277],
       [43591],
       [36685],
       [18952],
       [46847],
       [37254],
       [50345],
       [27764],
       [59762],
       [17899],
       [60011],
       [53454],
       [50338],
       [33927],
       [21861],
       [45915],
       [62173],
       [18750],
       [67622],
       [17381],
       [61618],
       [40417],
       [21707],
       [29096],
       [28467],
       [65642],
       [54200],
       [17821],
       [56426],
       [30192],
       [21612],
       [18962],
       [25697],
       [51235],
       [55584],
       [31312],
       [22688],
       [16048],
       [57162],
       [31322],
       [18675],
       [43334],
       [54263],
       [36788],
       [49587],
       [20714],
       [70025],
       [56646],
       [22028],
       [21291],
       [57418],
       [43694],
       [16659],
       [42587],
       [30815],
       [36873],
       [57013],
       [45980],
       [33435],
       [28152],
       [32739],
       [39612],
       [50349],
       [60667],
       [28438],
       [68163],
       [46812],
       [26452],
       [59701],
       [35591],
       [18817],
       [58378],
       [22144],
       [20782],
       [66563],
       [34598],
       [17197],
       [36587],
       [65982],
       [19358],
       [31059],
       [63447],
       [22961],
       [37132],
       [28113],
       [71256],
       [29672],
       [39474],
       [24694],
       [69062],
       [39712],
       [59664],
       [44174],
       [57283],
       [64650],
       [26969],
       [16021],
       [57578],
       [43171],
       [22124],
       [20149],
       [48280],
       [59094],
       [38001],
       [43139],
       [29696],
       [20074],
       [41230],
       [48673],
       [68705],
       [28457],
       [40608],
       [42405],
       [48943],
       [31078],
       [59563],
       [34633],
       [71194],
       [46687],
       [35385],
       [15858],
       [67081],
       [70273],
       [58183],
       [31801],
       [22139],
       [56414],
       [43818],
       [20522],
       [46897],
       [39914],
       [23635],
       [19002],
       [45585],
       [40447],
       [67088],
       [72524],
       [67037],
       [66325]])

### Step 8. Add the column owners to cars

In [10]:
cars["owners"] = x
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,owners
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,NaN,NaN,NaN,NaN,NaN,39527
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,NaN,NaN,NaN,NaN,NaN,58223
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,NaN,NaN,NaN,NaN,NaN,67882
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,NaN,NaN,NaN,NaN,NaN,41442
4,17.0,8,302,140,3449,10.5,70,1,ford torino,NaN,NaN,NaN,NaN,NaN,50557
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,NaN,NaN,NaN,NaN,NaN,40447
196,44.0,4,97,52,2130,24.6,82,2,vw pickup,NaN,NaN,NaN,NaN,NaN,67088
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage,NaN,NaN,NaN,NaN,NaN,72524
198,28.0,4,120,79,2625,18.6,82,1,ford ranger,NaN,NaN,NaN,NaN,NaN,67037
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10,NaN,NaN,NaN,NaN,NaN,66325